h1 {
    color: darkgrey;
    text-align: center;
    font-size: 60px;
    margin: 5px;
}

button {
    text-align: center;
    background-color: Yellowgreen;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    transition: 0.6s;
}

p {
    font-size: 25px;
    text-align: center;
    color: white;
}

body {
    background-color: black;
}

div {
    text-align: center;
}