<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Form</title>
</head>
<body>
    <h1>Bill Form</h1>
    <form>
        <table style="border: 1px solid black;">
            <tr>
                <td>Bill Amount</td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <td>Bill Period</td>
                <td><input type="text"></td>
            </tr>
            <tr><td colspan="2" style="text-align: center;"><h3>Flatmate 1</h3></td></tr>
            <tr>
                <td>Name</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Days in House</td>
                <td><input type="number"></td>
            </tr>
            <tr><td colspan="2" style="text-align: center;"><h3>Flatmate 2</h3></td></tr>
            <tr>
                <td>Name</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Days in House</td>
                <td><input type="number"></td>
            </tr>
            <tr><td colspan="2" style="text-align: center;"><button>Calculate</button></td></tr>
        </table>
    </form>
</body>
</html>