<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMR Calculator</title>
    <link rel="stylesheet" href="static/calorieform.css">
</head>
<body>
    <h1>BMR Calculator</h1>
    <form action="/calorie-form" method="post">
        <p>Fill out the form below to find out how many calories you need<br>Tell us about yourself</p>
        {{calorie_form.weight.label}}<br> {{calorie_form.weight}}<br>
        {{calorie_form.height.label}}<br> {{calorie_form.height}}<br>
        {{calorie_form.age.label}}<br> {{calorie_form.age}}<br>
        <hr>
        <br>
        <p>Today's weather counts too<br>Tell us where you're from</p>
        {{calorie_form.country.label}}<br> {{calorie_form.country}}<br>
        {{calorie_form.city.label}}<br> {{calorie_form.city}}<br>
        <hr>
        {{calorie_form.button}}
    </form>
    {% if result %}
    <p class="result">Your BMR is {{calories}} Kcal</p>
    {% endif %}
</body>
</html>